*.pyc
*~
__pycache__
AIVenv
db.sqlite3
/static
.DS_Store
/cliente/static/pdf/~$lista_clientes.xlsx
/cliente/static/pdf/~$contactos.xlsx
cliente/static/js/
cliente/static/pdf/~$contactos.xlsx
/AIVenv/
!/uml.mdj
!/README.md
!/~$ujo de Trabajo Imprenta.docx
!/Proseso imprenta.docx
!/Flujo de Trabajo Imprenta.docx
/~$ujo de Trabajo Imprenta.docx
/Flujo de Trabajo Imprenta.docx
/uml.mdj
/README.md
/Proseso imprenta.docx
