{% extends 'layouts/baselog.html' %}
{% block content %}

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-justify">
            <h1>Ivan Almandoz</h1>
            <h3>22/01/1984</h3>
            <p class="text-left">
                <br>Dirección: Francisco Guevara 1037 Maipú
              <br>
              <br>Celular: 261-3835-667
              <br>
              <br>Email: alialmandoz@gmail.com
              <br>
              <br>Github: <a href="https://github.com/Alialmandoz/">https://github.com/Alialmandoz/</a>
              <br>
              <br>Web:<a href=" http://alialmandoz.pythonanywhere.com/">http://alialmandoz.pythonanywhere.com/</a>
              <br>
              <br>Objetivos:
              <br>
              <br>Trabajar como programador y utilizar mis habilidades para comprender un problema y escribir código que lo rompa en problemas más pequeños y fáciles
              de solucionar. Me encantaría tener la oportunidad de hacer contribuciones para alcanzar los objetivos de la empresa.
              <br>
              <br><h3>Habilidades.</h3>
              <br>
              <br>• Conocimientos de las distintas cualidades de Java y Python.
              <br>
              <br>• JAVA ORM Hibernate,
              <br>
              <br>• Spring (básico)
              <br>
              <br>• Django
              <br>
              <br>• Selenium
              <br>
              <br>• Html-Css
              <br>
              <br>• JavaScript (básico)
              <br>
              <br>• Manejo de sistemas de control de versiones GIT.
              <br>
              <br>• Extensos conocimiento de windows y su línea de comando
              <br>
              <br>• Conocimientos de Linux Bash.
              <br>
              <br>• Manejo de Bases de datos mysql, H2, Sqlite
              <br>
              <br>• Manejo básico de Cloud Foundry (curso en progreso).
              <br>
              <br>• Conocimiento sobre el ciclo de vida de un programa desde la etapa de diseño hasta hacer undeploy.
              <br>
              <br>• Creo ser capaz de comprender y comunicar ideas en un lenguaje técnico y poder explicarlas a personas no programadores
              <br>
              <br>• Ingles oral y escrito avanzado.
              <br>
              <br><h3>Educación:</h3>
              <br>
              <br><h4>Curso Python</h4> en www.codecademy.com (12/2014):
              <br>
              <br><a href="https://www.codecademy.com/learn/python">https://www.codecademy.com/learn/python.</a>
              <br>
              <br><h4>Curso Object Oriented Programming in Java</h4> de la UC San Diego (11/2015):
              <br>
              <br><a href="https://www.coursera.org/verify/NSQF4WB4D7T9">https://www.coursera.org/verify/NSQF4WB4D7T9.</a>
              <br>
              <br><h4>Diplomatura en Programación Java</h4> de la Universidad Tecnológica Nacional (02/2017):
              <br>
              <br><a href="www.sceu.frba.utn.edu.ar/e-learning/svc/">www.sceu.frba.utn.edu.ar/e-learning/svc/</a>
              <br>
              <br><h5>Código de verificación: CER-5MP1C5YW-116811</h5>
            </p>
          </div>
          <div class="col-md-4">
            <img src="https://avatars0.githubusercontent.com/u/3138246?v=3&s=460"
            class="img-responsive">
          </div>
        </div>
      </div>
    </div>
{% endblock %}