{% extends 'layouts/base.html' %}
{% block title %}
    <strong>Crear orden</strong>
{% endblock %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text">
                    <h3>Crear Orden</h3>
                    <div class="container-fluid">
                        <form role="form" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}