{% extends 'layouts/base.html' %}
{% block title %}Detalle cliente - {{ block.super }}{% endblock %}
{% block content %}
    <div>
        <ul>Nombre: {{ cliente.nombre.title }}</ul>
        <ul>Apellido: {{ cliente.apellido.title}}</ul>
    <a href="{% url 'editarCliente' slug=cliente.slug %}">Edit me!</a>
    </div>
    <div style="align-self: auto">
    <table class="tabla">
         <td>Ordenes:</td>
        {% for orden in ordenes %}
            <tr class="tabla">
                {% if orden.cliente.slug == cliente.slug %}
                    <td>{{ orden}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    </div>
{% endblock %}