{% extends 'layouts/base.html' %}
{% block title %}Inicio -{{ block.super }}{% endblock %}
{% block content %}
<h2>template para clientes</h2>

<table class="tabla">
    <tr>
        <td><strong>Cliente</strong></td>
        <td><strong>Ordenes</strong></td>
    </tr>
    {% for cliente in clientes %}
        <tr>
            <td><a href="{% url 'detalleCliente' slug=cliente.slug  %}">{{ cliente.nombre}} {{ cliente.apellido }}</a></td>
            <td>{% for orden in ordenes %}
                    {% if orden.cliente.slug == cliente.slug %}
                        {{ orden }}<br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
    <br>

<div>
    <form method="get" action="buscar/" class="navbar-form pull-right">
        <input type="text" id="searchBox" class="Busqueda" name="q" placeholder="Buscar" value="{{ request.GET.q }}">
        <input type="submit" class="btn" value="Buscar">
    </form>
</div>

{% endblock %}

