{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}{{ block.super }} - Inicio{% endblock %}
{% block content %}

    <!--cuadro de inicio-->
    <div class="section ">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-md-3">
                    <a href="#"><img src= "static/images/presupuesto.png"
                                     class="img-responsive"></a>

                    <h1 class="text-center">Presupuesto</h1>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'crear_orden' %}"><img src="static/images/nuevo_pedido.png"
                                     class="img-responsive"></a>

                    <h1 class="text-center">Nuevo Pedido</h1>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'buscar_cliente' %}"><img src="static/images/buscar_cliente.png"
                                     class="img-responsive"></a>

                    <h1 class="text-center">Buscar Cliente</h1>
                </div>
                <div class="col-md-3">
                    <a href="#"><img src="static/images/buscar_orden.png"
                                     class="img-responsive"></a>

                    <h1 class="text-center">Buscar Orden</h1>
                </div>
            </div>
        </div>
    </div>
    </body>

    <!-- fin barra de busqueda-->

{% endblock %}
