{% extends 'layouts/base.html' %}
{% block title %}
    {{ block.super }} - Detalle Trabajo
{% endblock %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Detalle tarbajo {{ trabajo.pk }}</h3>
                        </div>
                        <div class="panel-body">
                            <ul>Tipo: {{ trabajo.get_tipo_display }}</ul>
                            <ul>Detalle: {{ trabajo.detalle }}</ul>
                            <ul>Monto: {{ trabajo.monto }}</ul>
                            <ul>Entrega: {{ trabajo.entrega }}</ul>
                            <ul>Saldo: {{ trabajo.saldo }}</ul>

                            <div class="text-center">
                                <a class="btn btn-primary text-center"
                                href="{% url 'editar_trabajo' pk=trabajo.pk %}">Editar</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}