{% load staticfiles %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<html>
<head>
    <title>
        {% block title %}
            ArchivoImprimir.com.ar
        {% endblock %}
    </title>
    {% block header %}{% endblock %}
</head>
<body data-spy="scroll">

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"  href="/inicio">Archivo Imprimir</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav">
              <li >
                  <a href="/orden/buscar">Buscar Orden</a>
              </li>
               <li >
                  <a href="/cliente/buscar">Buscar cliente</a>
              </li>
              <li>
                <a href="/crear_cliente">Cargar cliente</a>
              </li>

               <li>
                <a href="/contacto">contacto</a>
              </li>
          </ul>
            <p class="navbar-text navbar-right"><a href="/logout" class="navbar-link">salir</a></p>
        </div>
      </div>
    </div>
</div>

</body>

{% block content %}{% endblock %}
{% block footer %}{% endblock %}


